$color-black: rgba(0, 0, 0, 1);
$color-green: rgba(41, 167, 30, 1);
$color-red: rgba(225, 53, 53, 1);
$color-blue: rgba(54, 117, 176, 1);
$color-white: rgba(255, 255, 255, 1);
$bg-color: rgba(255, 176, 132, 1);

@mixin cardTheme($cardColor: $color-white, $shadowColor:  $color-black) {
    background-color: $cardColor;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 7px 7px 0 0 $shadowColor;
    font-size: 1.4rem;

    h1 {
        font-size: 2.4rem;
        font-weight: 700;
        margin: 0 0 5px 0;
    }

    h2 {
        color: $shadowColor;
        font-size: 1.4rem;
        font-weight: 700;
        margin: 0 0 10px 0;
    }
  }

html {
    margin: 0 auto;
    font-size: 12px;
}

body {
    margin: 0;
    background-color: $bg-color;
}
ul {
    margin: 0;
}

.main {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr;
    gap: 20px;
    grid-template-areas: 
        "person bio bio"
        "person goals frustrations"
        "person dream frustrations"
        "slogan dream personality";

    @media ( max-width:992px ) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "person bio"
        "person slogan"
        "dream frustrations"
        "goals personality";
    }

    @media ( max-width:720px ) {
        display: block;
        div {
            margin-top: 15px;
        }
    }

        
    .main__person {
        @include cardTheme;
        grid-area: person;
        
        div {
            padding: 5px 0;
        }

        span {
            font-weight: 700;
        }
        .main__person__name-avatar {
            text-align: center;
        }
        .main__person__age-pronouns {
            display: flex;

            .main__person__age-pronouns__pronouns {
                padding-left: 15px
            }
        }
    }

    .main__bio {
        @include cardTheme;
        grid-area: bio;
    }

    .main__goals {
        @include cardTheme( $color-white, $color-green );
        grid-area: goals;
    }

    .main__frustrations {
        @include cardTheme($color-white, $color-red );
        grid-area: frustrations;
    }

    .main__dream {
        @include cardTheme($color-white, $color-blue );
        grid-area: dream;
    }

    .main__slogan {
        @include cardTheme;
        grid-area: slogan; 
    }

    .main__personality {
        @include cardTheme;
        grid-area: personality;
    }


}